/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-grey-soft: #f1f5f9;
  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-grey-soft);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: darkX) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

html,
body {
  overflow: hidden;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hlavní stránka */
.page-container {
  display: grid;
  grid-template-columns: 300px 1fr; /* Sidebar vlevo, hlavní obsah vpravo */
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  padding: 0px;
  background-color: #fff;
  margin: 6px 5px 20px 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.sidebar--settings {
  background-color: #c0c0c0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
}

.sidebar--events-servis {
  background-color: #ffbfbf;
}
.sidebar--events-store {
  background-color: #ffdbb7;
}
.sidebar--events-park {
  background-color: #d2e9ff;
}
.sidebar--events-notes {
  background-color: #ffffcc;
}
.sidebar--events-educ {
  background-color: #ffb66c;
}

.sidebar--events {
  margin-bottom: 10px;
}

.sidebar--month {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: #6ee7b7; /* Světle zelená */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.sidebar--year {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  background-color: #a7f3d0; /* Světle zelená */
}

/* Hlavní obsah */
.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 3rem;
  padding: 2px 0px;
  text-align: center;
  background-color: #fff;
  margin: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
